@font-face {
    font-family: "CoolveticaCustom";
    src: url("../font/coolvetica rg.ttf");
}

@font-face {
    font-family: "HelveticaNeueCustom";
    src: url("../font/HelveticaNeue.ttf");
}

:root{
    --primary-color: #5a87e8;
    --theme-bg-color: #fff;
    --secondary-bg-color:#fff;
    --primary-text: #494848;
    --secondary-text: #707070;
    --background-content: #eeecf2;
    --background-chart: #EEECF2;
}


.dark-mode{
    --primary-color: #5a87e8;
    --theme-bg-color: #121212;
    --secondary-bg-color:#292929;
    --primary-text: #fff;
    --secondary-text: #fff;
    --background-content: #121212;
    --background-chart: #121212;
}


*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
}

.row {
    height: 100%;
    width: 100%;
}

/*----Structure of page--*/
/* Create two equal columns that floats next to each other */
#content, #navbar {
    float: left;
    height: 100%;
}

#navbar {
    background-color: var(--secondary-bg-color);
    width: 20%;
    padding: 30px 0 0 40px;
    display: block;
}

#content{
    background-color:var(--secondary-bg-color) ;
    width: 80%;
    padding:20px 20px 20px 0;
}

.background-content{
    width: 100%;
    height: 100%;
    background-color: var(--background-content);
    border-radius:30px;
    padding:35px 35px 0 35px;

}

/*--Logo Mobile--*/
.logo_resp_visible{
    display:none;
}



/*----Content Section--*/

/*--First Section--*/
#home-card{
    background-image: url("../img/home-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 160px;
    padding:20px;
    border-radius:25px;
}

#home-card h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 51px;
    font-family: CoolveticaCustom;
    letter-spacing: 2px;
    margin-top: 6px;
    margin-bottom: 11px;
}

#home-card h3{
    color:#fff;
    font-family: HelveticaNeueCustom;
    font-size:27px;
    margin-top:10px;

}

#home-card img{
    width: 375px;
    position: absolute;
    right: 252px;
    top: 36px;
}


/*---Goal Section--*/

#obiettivi-content {
    width: 100%;
}

/* Float four columns side by side */
.column-obiettivi {
    float: left;
    width: 33.3%;
    padding: 0 28px;
}

/* Remove extra left and right margins, due to padding */
.row-obiettivi {margin: 0 -23px;}


/* Style the counter cards */
.card-obiettivi {
    background-color: #F1F6FF;
    border:1px solid var(--primary-color);
    border-radius:30px;
    padding: 16px;
    text-align: left;
}
#obiettivi-content h5{
    font-size:19px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    color: var(--primary-text);
}

#obiettivi-content h3{
    font-size:18px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    margin-top:10px;
    color:var(--primary-color);
    text-transform: uppercase;
}

#obiettivi-content p{
    font-size: 15px;
    font-family: HelveticaNeueCustom;
    color:var(--primary-color);
}



/*---Chart Section--*/

#chart-content{
    width: 100%;
}

.row-chart{
    width: 100%;
    margin-top:185px;
}

.column-chart1, .column-chart2{
    float: left;
    width: 50%;
    background-color: var(--background-chart);
    height: 427px;
}

.column-chart1{
    padding-right: 30px;
}

.column-chart2{
    padding-left: 30px;
}

.chart-card{
    height: 100%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:2px 0 0 19px;
    margin-top:6px;
}

.chart-card h1, .chart-card h5{
    font-family: HelveticaNeueCustom;
}

.chart-card h1{
    margin-bottom: -9px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 18px;
    color:var(--primary-text);
}

.chart-card h5{
    font-weight: normal;
    font-size:17px;
    color: var(--secondary-text);
}

.chart-container{
    width: 95%!important;
    height: 84%!important;
    margin:0!important;
}

.chart-container canvas{
    height: 80%!important;
    width: 101%!important;
}


/*--Query obiettivi list--*/
@media screen and (max-width: 1818px){

    .scroll-bar{
        overflow-x:scroll ;
        height: 148px;
        overflow-y: hidden;
        margin-bottom: -162px;
    }

    .scroll-bar::-webkit-scrollbar{
        display: none;
    }
    .row-obiettivi{
        width: 1420px;
        overflow-x: scroll;
    }

    .column-obiettivi{
        width: 472px;
    }

}

/*---Minimize navbar, expand content */
@media screen and (max-width:1520px){

#navbar{
    background-color: #fff;
    width: 10%;
    padding:0 0 0 40px;
}
    #content{
        width:90%;
    }
}


/*---Chart Section Query--*/
@media screen and (max-width: 1202px) {

    .background-content{
        min-height: fit-content;
    }

    #home-card img{
        right: 151px;
    }

    .column-obiettivi{
        width: 389px;
    }

    .row-obiettivi{
        width: 1167px;
    }

    .column-chart1, .column-chart2 {
        width: 100%;
    }

    .chart-container canvas{
        height: 89%!important;
    }

    .column-chart2{
        padding-left:0;
        background-color: transparent;
        margin-top:193px;
    }

    .chart-card{
        height: 138%;
    }

    .column-chart1{
        padding-right:0;
        background-color: transparent;
        margin-top:25px;
    }

    #chart-content{
        height:1281px;
    }

}


/*----*/
@media screen and (min-width: 1081px) {
    .sidenav{
        display: none;
    }
    .hamburger{
        display: none;
    }

}


/*--*/
@media screen and (max-width: 1080px) {
    #navbar:not(sidenav){
        display: none;
    }

    #content{
        background-color: #fff;
        width: 100%;
        padding:20px 20px 20px 20px;
        margin-top: 45px;
    }

    #home-card img{
        top:103px;
    }

    .logo_resp_visible{
        width: 171px;
        display: block;
        position:fixed;
        margin-left: 36%;
        margin-top:-82px;
    }

    .logo_resp_visible #logo-resp{
        width: 171px;
    }
}


@media screen and (max-width: 860px){
    #home-card img{
        display: none;
    }
}



