@font-face {
    font-family: "CoolveticaCustom";
    src: url("../font/coolvetica rg.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../font/HelveticaNeue.ttf");
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
}

#content {
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url("../img/taxi_login.jpg");
    background-size: cover;
}

#content .logo_content #logo{
    width: 208px;
    margin-left: 57px;
}

h1{
    font-family: Helvetica Neue;
    display: inline;
    color:#494848;
}
#particolareH1{
    color: #5a87e8;
}
#motto{
    font-size: 30px;
    margin-left: 70px;
}


#formContent{
    position: absolute;
    background: #ffffff;
    border-radius: 26px;
    height: 650px;
    width: 550px;
    text-align: center;
    top: 50%;
    margin-top: -320px;
    right: 130px;
}

#formSwitch{
    padding-top: 50px;
}

#selectRegi{
    font-family: CoolveticaCustom;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #494848;
}

#selectLogin{
    font-family: CoolveticaCustom;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #5a87e8;
    background-color: #F1F6FF;
    border-radius: 15px;
}


#fLogin{
    padding-top: 70px;
    width: 306px;
    margin: auto;
}

#fLogin p{
    text-align: left;
    font-size:22px;
    font-family: HelveticaNeue;
    color: #707070;
    margin-bottom:5px;
}

#formContent input[type=text],input[type=password]{
    border-radius: 12px;
    height: 45px;
    width: 100%;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding-left: 12px;
    font-size:17px;
}

.btn{
    width: 200px;
    height: 70px;
    background: #5a87e8;
    color: #fff;
    border: 0px;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 25px;
}

#fRegi {
    display: none;
    padding-top: 60px;
    width: 306px;
    margin: auto;
}
#fRegi p{
    text-align: left;
    font-size:22px;
    font-family: HelveticaNeue;
    color: #707070;
    margin-bottom:5px;
}

#nomeRegi{
    width: 48%;
    float: left;
    margin-bottom: 20px;
}


#cognomeRegi{
    width: 48%;
    float: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 1862px){

    #motto{
        width: 50%;
    }
}

@media screen and (max-width: 1600px){
    #formContent{
        position:relative;
        top:0%;
        margin:0 auto;
        right: 0px;
        height: 582px;
    }

    #motto{
        margin-bottom: 40px;
        width: auto;
        font-size:25px;
    }
}


@media screen and (max-width: 980px){
    #motto{
        width: 80%;
        font-size:20px;
    }
}

@media screen and (max-width: 650px){

    #formContent{
        width:85%;

    }
}

@media screen and (max-width: 462px){

  #motto{
      width: 90%;
      font-size:19px;
      text-align:center;
      margin: auto auto 40px;
  }
}

@media screen and (max-width: 358px){

    #motto {
        font-size: 15px;
    }
}
