@font-face {
    font-family: "CoolveticaCustom";
    src: url("../font/coolvetica rg.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../font/HelveticaNeue.ttf");
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
}

body{
    background: #5a87e8;

}
#content {
    width: 100%;
    height: 100%;
    padding: 33px 14px;
    background-image: url("../img/taxi_login.jpg");
    background-size: 100% 100%;
}

#content .logo_content #logo{
    width: 208px;
    margin-left: 57px;
}

h1{
    font-family: Helvetica Neue;
    display: inline;
}
#particolareH1{
    color: #5a87e8;
}
#motto{
    position: absolute;
    top: 156px;
    left: 70px;
    font-size: 30px;
}
#contentLeft {
    float: left;
    height: 100%;
    width: 60%;
}


#contentRight {
    position: absolute;
    background: #ffffff;
    border-radius: 26px;
    right: 200px;
    top: 250px;
    height: 600px;
    width: 550px;
    text-align: center;
}

#formSwitch{
    padding-top: 50px;
}

#selectRegi{
    font-family: CoolveticaCustom;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #494848;
}

#selectLogin{
    font-family: CoolveticaCustom;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #5a87e8;
    background-color: #F1F6FF;
    border-radius: 15px;
}


#fLogin{
    height: 514px;
    padding-top: 70px;
    width: 306px;
    margin: auto;
}

#fLogin p{
    text-align: left;
}

#formContent input[type=text],input[type=password]{
    border-radius: 9px;
    height: 30px;
    width: 100%;
    border: 1px solid #494848;
}

.btn{
    width: 200px;
    height: 70px;
    background: #5a87e8;
    color: #fff;
    border: 0px;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 25px;
}

#fRegi {
    display: none;
    padding-top: 70px;
    width: 306px;
    margin: auto;
}
#fRegi p{
    text-align: left;
}

#nomeRegi{
    width: 48%;
    float: left;
    margin-bottom: 20px;
}


#cognomeRegi{
    width: 48%;
    float: right;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1600px){
    #content{
        width: 100%;
        height: 100%;
        background-image: url("../img/taxi_login.jpg");
        background-size: cover;
    }
}