@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttf");
}



/*hamburger icon*/
.hamburger {
  font-size: 30px;
  cursor: pointer;
  z-index: 9;
  position:fixed;
  margin-top:20px;
  margin-left:20px;
  color: #242424;
}


/*respnsive*/
.sidebar.active{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 281px;
  background: white;
  padding: 33px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}



.logo_content #logo{
  width: 171px;
  margin-left: 57px;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;

}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  margin-top: 28px;
}


.sidebar ul li .top{
  color: #494848;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
  height:68px;
}

.sidebar ul li .user-name, .sidebar ul li .logout-bottom{
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
  height:68px;
}

.sidebar ul li .user-name{
  background-color: #F8F7FA;
  color: #494848;
}

.sidebar ul li .logout-bottom{
  background-color: #5a87e8;
  color: white;
}


.sidebar ul li .top:hover{
  color: #5a87e8;
  background: #F1F6FF;
}

.sidebar ul li #clicked{
  color: #5a87e8;
  background: #F1F6FF;
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: Helvetica Neue;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}

#user{
  position: absolute;
  bottom: 21px;
  width: 260px;
}



@media screen and (max-width: 1520px){

  .sidebar ul{
    padding-inline-start: 25px !important;
  }

  .sidebar ul li .top:hover{
    width:68px;
    height: 68px;
  }

  .sidebar ul li{
    width: 76%;
  }

  #user ul li{
    width: 100%;
  }

  #navbar #logo{
    height: 126px;
    width: auto;
  }

  .logo_content #logo{
    margin-left:31px;
  }

  .sidebar ul li #clicked{
    width:68px;
    height: 68px;
  }

  .sidebar.active .links_name{
    opacity: 0;
  }

  .sidebar.active{
    width: 107px;
    padding: 33px 0px;
  }


  #user{
    width: 93px;
  }

  .sidebar ul li .user-name,  .sidebar ul li .logout-bottom{
    height: 68px;
  }

  .sidebar ul li i{
    min-width: 68px;
  }


/* rimuovere navbar e aggiungere HAMBURGER SIDE BAR
                    DA FARE
                        */
@media screen and (max-width:1080px){

  .sidebar.active{
    display: none;
  }

  .background_white{
    background-color: #ffffff;
    height:53px;
    width:100%;
    position:fixed;
    margin-top:0px;

  }


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5a87e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }

  .sidenav a {
    padding: 8px 0 8px 0;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: HelveticaNeue;
    margin-bottom:30px;

  }

  .sidenav a:hover{
    color: #95a8c7;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #links_resp{
    margin-top: 70px;
  }


  #user_resp{
    width: fit-content;
    margin: 79px auto auto;
  }

  #user_resp span{
    margin-right: 18px;
    font-size:20px;
  }

  #user_resp .user-name, #user_resp .logout-bottom{
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
    height:68px;
  }

  #user_resp i{
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 52px;
    text-align: center;
  }

  #user_resp .user-name{
    background-color: #F8F7FA;
    color: #494848;
  }

  #user_resp .logout-bottom{
    background-color: white;
    color: #5a87e8;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

}




}