*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
}


.row {
    height: 100%;
    width: 100%;
}


/* Create two equal columns that floats next to each other */
#content, #navbar, #list,#card{
    float: left;
    height: 100%;
}

#navbar{
    background-color: var(--secondary-bg-color);
    width: 20%;
    padding:30px 0 0 40px;
}

/*navbar content*/

#navbar #logo{
    width: 208px;
}

#navbar {
    display: block;
    float: left;
}



#alert{
    display: block;
    padding: 20px;
    background-color:#C34D4C;
    color:white ;
    border-radius:14px;
    font-family: HelveticaNeueCustom;
}

#success{
    display: block;
    padding: 20px;
    background-color:#57A758;
    color: white;
    border-radius:14px;
    font-family: HelveticaNeueCustom;
}

.closebtn-success, .closebtn-error{
    display: block;
    color: white;
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn-error:hover, .closebtn-success:hover {
    color: #707070;
}


/* Lista destra*/

#list{
    background-color: var(--secondary-bg-color);
    width: 20%;
    padding: 130px 25px 0 25px;
    height: 98%;
}

#list #titleList{
    font-size: 26px;
    color: var(--primary-text);
    font-weight: 100;
    font-family: HelveticaNeueBold;
    padding-left: 6px;

}

.listaSpese {
    height: 83.9%;
    box-sizing: border-box;
    margin: 73px 0px 0px 0px;
    overflow: scroll;
    padding: 9px;
}

.listaSpese::-webkit-scrollbar{
    display: none;
}




/* Style the counter cards */
.card-spesa {
    background-color: #F1F6FF;
    border:1px solid #5a87e8;
    border-radius:30px;
    padding: 16px;
    text-align: left;
    margin-bottom:20px;
    position: relative;
    cursor:pointer;
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.card-spesa:hover{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0.01px);
    box-shadow: var(--hover-obiettivi);
    -webkit-transition-duration: 0.4s;

    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}



.card-spesa p{
    font-size: 16px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    color: #5a87e8;
}

.card-spesa h3{
    font-size: 18px;
    font-family: HelveticaNeueBold;
    margin-bottom: 16px;
    margin-top: 10px;
    color: #5a87e8;
    text-transform: uppercase;
    font-weight: 100;
}



#cardSPESA{
    grid-column-start: 1;
    grid-column-end: 3;
}

#content #titleContent{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 45px;
    color: var(--primary-text);
    font-family: CoolveticaCustom;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 51px;
}

#content{
    background-color: var(--theme-bg-color);
    width: 60%;
    padding:20px 0px 20px 0;
}



.background-content{
    width: 100%;
    height: 100%;
    background-color: var(--background-content);
    border-radius:30px;
    padding:35px 35px 0 35px;
    overflow-x: hidden;

}

.background-content::-webkit-scrollbar, body::-webkit-scrollbar{
    display: none;
}




/*icona obiettivi*/
#obiettIcon{
    float:right;
    background-color: #5a87e8;
    border-radius:10px;
    padding:2px;
    display: none;
    color:#fff;
}






#ContainerObiettivi{
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
    margin-right: 1.4%;

}






/*Card centrale*/

.card{
    display: flex;
    font-family: Helvetica Neue;
    float: left;
    width: 100%;
    background: var(--secondary-bg-color);
    border-radius: 20px;
    padding:20px;
    box-shadow: var(--hover-obiettivi);
    position: relative;
    height: 413px;
}

.cardDX{
    width: 346px;
    height: 100%;
    margin-right: 0px;
    position: relative;
}
.cardSX{
    width: 64%;
    height: 100%;
    box-sizing: border-box;
}

.textCard #bottom_p{
    margin-top:100px;
}



.card .cardSX h4{
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--primary-text);
    font-family: HelveticaNeueBold;
    font-weight: 100;
}


.textCard{
    margin-top: 40px;
    font-family: HelveticaNeueCustom;
    color: var(--secondary-text);
}



#euro_input, #data_input{
    margin-bottom: 7px;
}



.formCard{
    border-radius: 12px;
    height: 50px;
    width: 100%;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding-left: 12px;
    font-size: 17px;
    color:var(--secondary-text);
    background-color: var(--theme-bg-color);
}

.buttonCard{
    font-family: HelveticaNeueCustom;
    float: right;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #486fe4;
    border-radius: 10px;
    margin-top: 20px;
    padding: 13px;
    border: 0;
    cursor: pointer;
}

.buttonFilter{
    font-family: HelveticaNeueCustom;
    float: right;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #486fe4;
    border-radius: 10px;
    padding: 13px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.imgCard{
    width: 89%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 378px;
}

@media screen and (max-width:1790px) {
    #content{
        width:80%;
    }

    #obiettIcon{
        display: block;

    }

    #alert, #success{
        margin-top: 50px;
    }

}

/* NAV BAR */
@media screen and (max-width:1520px){

    #navbar{
        background-color: white;
        width: 10%;
        padding:0px 0 0 40px;
    }

    #content{
        width:90%;
    }


    #list{
        width:100%;
        float:left;
    }

    .card{
        margin-bottom:20px;
    }


    #list #titleList{
        display: flex;

    }
    .listaSpese{
        background-color: #fff;
        overflow-x:scroll;
    }

    .cardList{
        height:153px;
        width: 430px;
        float:left;
    }


}
@media screen and (max-width: 1104px){
    #ContainerObiettivi{
        display:block;
        margin-right: 0;
    }

    .cardDX{
        display: none;
    }

    .cardSX{
        width: 100%;
    }

}

@media screen and (min-width: 1081px) {
    .sidenav{
        display: none;
    }
    .hamburger{
        display: none;
    }

}

@media screen and (max-width: 1080px) {
    #navbar:not(sidenav) {
        display: none;
    }

    #content {
        background-color: white;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-top: 45px;
    }

    /*icona obiettivi*/
    #obiettIcon{
        position: fixed;
        z-index: 2222;
        right: 20px;
        top: 19px;
    }

    #alert, #success {
        margin-top: 0;
    }
}
