@font-face {
    font-family: "CoolveticaCustom";
    src: url("../font/coolvetica rg.ttf");
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../font/HelveticaNeue.ttf");
}

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
}


.row {
    height: 100%;
    width: 100%;
}


/* Create two equal columns that floats next to each other */
#content, #navbar, #list,#card{
    float: left;
    height: 100%;
}

#navbar{
    background-color: white;
    width: 20%;
    padding:30px 0 0 40px;
}

/*navbar content*/

#navbar #logo{
    width: 208px;
}

#navbar {
    display: block;
    float: left;
}



#alert{
    display: block;
    padding: 20px;
    background-color:#C34D4C;
    color:white ;
    border-radius:14px;
}

#success{
    display: block;
    padding: 20px;
    background-color:#57A758;
    color: white;
    border-radius:14px;
}

.closebtn-success, .closebtn-error{
    display: block;
    color: white;
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn-error:hover, .closebtn-success:hover {
    color: #707070;
}


/* Lista destra*/

#list{
    background-color: white;
    width: 20%;
    padding: 130px 30px 0 30px;
    height: 98%;
}

#list #titleList{
    font-size: 26px;
    color:#494848;
    font-weight: bold;
    font-family: HelveticaNeue;
    padding-left: 6px;

}

.listaSpese {
    height: 83.9%;
    box-sizing: border-box;
    margin: 73px 0px 0px 0px;
    overflow: scroll;
    padding: 2px;
}

.listaSpese::-webkit-scrollbar{
    display: none;
}


/*card fallito*/

.not-eco{
    background-color: #fde0e0;
    border:1px solid #C34D4C;
    border-radius:30px;
    padding: 16px;
    text-align: left;
    margin-bottom:20px;
    position: relative;
}

.not-eco p{
    font-size: 16px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    color: #C34D4C;
}

.not-eco h3{
    font-size:18px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    margin-top:10px;
    color:#C34D4C;
    text-transform: uppercase;
}


/*card completato*/
.eco{
    background-color: #f0fcec;
    border:1px solid #57A758;
    border-radius:30px;
    padding: 16px;
    text-align: left;
    margin-bottom:20px;
    position: relative;
}

.eco p{
    font-size: 16px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    color: #57A758;
}

.eco h3{
    font-size:18px;
    font-family: HelveticaNeueCustom;
    margin-bottom:16px;
    margin-top:10px;
    color:#57A758;
    text-transform: uppercase;
}

#ContainerObiettivi{
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
    margin-right: 1.4%;

}


#cardECO{
    grid-column-start: 1;
    grid-column-end: 3;
}


#content{
    background-color: white;
    width: 60%;
    padding:20px 0 20px 0;
}

#content #titleContent{
    padding-top: 80px;
    padding-bottom: 30px;


    font-size: 45px;
    color:#494848;
    font-weight: bolder;
    font-family: Helvetica Neue;

}

.background-content{
    width: 100%;
    height: 100%;
    background-color: #EEECF2;
    border-radius:30px;
    padding:35px 35px 0 35px;
    overflow-x: scroll;

}

/*icona obiettivi*/
#obiettIcon{
    float:right;
    background-color: #5a87e8;
    border-radius:10px;
    padding:2px;
    display: none;
    color:#fff;
}

/*Card centrale*/

.card{
    display: flex;
    font-family: Helvetica Neue;
    float: left;
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 20px;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.cardDX{
    width: 664px;
    height: 100%;
    margin-right: 10px;
    position: relative;
}
.cardSX{
    width: 71%;
    height: 100%;
    box-sizing: border-box;
}

.cardALONE{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card .cardSX h4, .card .cardALONE h4{
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 0px;
    color:#494848;
}

.textCardUp h6{
    margin-top: 0px;
    font-size: 17px;
}

.textCard{
    margin-top: 40px;
    font-family: Helvetica Neue;
    color: 	#858585;
}

.textCard #bottom_p{
    margin-top:100px;
}

/*radio Button*/
.radioCard{
    margin-top: 40px;
    font-family: Helvetica Neue;
    color: 	#858585;
}

#content-radio{
    width:340px;
    display: flex;
    margin-left:20px;
}

input#eco, input#Noteco {
    height: 20px;
    float: left;
    margin: 0;
    width: 20px;
}

#ecodiv{
    display: flex;
    width: 150px;
    margin-top: 17px;
}

#Notecodiv{
    display: flex;
    width: 170px;
    margin-top: 17px;
}
#ecodiv p, #Notecodiv p {
    float:left;
    margin: 0 0 0 6px;
}


#mezzo_input, #chilometri_input, #spese_input{
    margin-bottom: 7px;
}

.textCardUp{
    margin-top: 12px;
    font-family: Helvetica Neue;
    font-size: 24px;
    color: 	#858585;
}




.formCard{
    border-radius: 12px;
    height: 50px;
    width: 100%;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding-left: 12px;
    font-size: 17px;
    margin-top: 12px;
}

.buttonCard{
    font-family: HelveticaNeue;
    float: right;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #486fe4;
    border-radius: 10px;
    margin-top: 20px;
    padding: 13px;
    border: 0;
}



.buttonFilter{
    font-family: HelveticaNeue;
    float: right;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #486fe4;
    border-radius: 10px;
    padding: 13px;
    border: 0;
    cursor: pointer;
}

.imgCard{
    width: 80%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}






@media screen and (max-width:1790px) {
    #content{
        width:80%;
    }

    #obiettIcon{
        display: block;

    }

    #alert, #success{
        margin-top: 50px;
    }

}

/* NAV BAR */
@media screen and (max-width:1520px){

    #navbar{
        background-color: white;
        width: 10%;
        padding:0px 0 0 40px;
    }

    #content{
        width:90%;
    }


    #list{
        width:100%;
        height: 300px;
        float:left;
    }

    .card{
        margin-bottom:20px;
    }


    #list #titleList{
        display: flex;

    }
    .listaSpese{
        background-color: #fff;
        overflow-x:scroll;
        height: 223.9%;
    }

    .cardList{
        height:153px;
        width: 430px;
        float:left;
    }


}
@media screen and (max-width: 1104px){
    #ContainerObiettivi{
        display:block;
        margin-right: 0;
    }

    .cardDX{
        display: none;
    }

    .cardSX{
        width: 100%;
    }

}

@media screen and (min-width: 1081px) {
    .sidenav{
        display: none;
    }
    .hamburger{
        display: none;
    }

}

@media screen and (max-width: 1080px) {
    #navbar:not(sidenav) {
        display: none;
    }

    #content {
        background-color: white;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-top: 45px;
    }

    /*icona obiettivi*/
    #obiettIcon{
        position: fixed;
        z-index: 2222;
        right: 20px;
        top: 19px;
    }

    #alert, #success {
        margin-top: 0;
    }

}

@media screen and (max-width: 550px){
    #content-radio{
        display:block;
    }
}

