html, body{
    width: 100%;
    height: 100%;
    margin:0;
}

body{
    background: #5a87e8;
}
#content {
    width: 100%;
    height: 100%;
}

#contentLeft {
    float: left;
    height: 100%;
    width: 60%;
}


#contentRight {
    float: left;
    height: 100%;
    width: 40%;
    background: #ffffff;
}

/*form*/

#formLogin{
    border-radius:12px;
    border: 1px solid;
    width: 70%;
}